<section class="vh-90 py-5">
  <div class="container">
    <app-star TitleStar="portfolio"></app-star>
    <div class="container bg-white border mb-3 pt-5" id="Projects">
      <div class="navs">
          <ul class="nav nav-pills mb-3 mx-auto w-50 d-flex align-items-center justify-content-center " id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link rounded-pill  active" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-home" aria-selected="true">ALL Projects</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link  rounded-pill" id="pills-seo-tab" data-bs-toggle="pill" data-bs-target="#pills-seo" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">HTML & CSS</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link  rounded-pill" id="pills-web-tab" data-bs-toggle="pill" data-bs-target="#pills-web" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">JS & JQ</button>
              </li>
              <li class="nav-item" role="presentation">
                  <button class="nav-link  rounded-pill" id="pills-work-tab" data-bs-toggle="pill" data-bs-target="#pills-work" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">API</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link rounded-pill" id="pills-word-tab" data-bs-toggle="pill" data-bs-target="#pills-word" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Angular </button>
                </li>

            </ul>
            <div class="tab-content p-3" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab" tabindex="0">
                  <div class="projects">
                      <div class="container ">
                       <div class="row">
                           <div class="col-md-3 ">
                               <div class="card" style="width: 16rem;">
                                   <img src="./assets/drew-coffman-1872.jpg" class="card- navs-image img-top" alt="bakery website">
                                   <div class="card-body " >
                                     <h5 class="card-title text-center">Bakery</h5>
                                     <p class="card-text text-muted">Bakery website designed with HTML ,CSS , Bootstrap and JS</p>
                                    <div class="d-flex justify-content-between">
                                       <a href="https://github.com/PHatma/Bakery.git"><i class="fa-brands fa-github  fs-3 m-2"></i></a>
                                       <a href="https://phatma.github.io/Bakery/"><i class="fa-solid fa-link  fs-3 m-2 "></i></a>
                                    </div>
                                   </div>
                                 </div>

                           </div>
                           <div class="col-md-3">
                              <div class="card" style="width: 16rem;">
                                  <img src="./assets/hero.jpg" class="card-img-top" >
                                  <div class="card-body">
                                    <h5 class="card-title text-center">Daniels</h5>
                                    <p class="card-text text-muted"> It's aWebsite designed with HTML ,CSS and bootstrap.</p>
                                    <div class="d-flex justify-content-between">
                                            <a href="https://github.com/PHatma/Daniels.git"><i class="fa-brands fa-github g fs-3"></i></a>
                                            <a href="https://phatma.github.io/Daniels/"><i class="fa-solid fa-link g fs-3"></i></a>
                                    </div>
                                  </div>

                          </div>


                          </div>
                          <div class="col-md-3">
                              <div class="card" style="width: 16rem;">
                                  <img src="./assets/download.jpg" class="card-img-top p navs-image -2" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title text-center">Yummy</h5>
                                    <p class="card-text text-muted">describe food that is delicious, appetizing, or enjoyable to eat </p>
                                    <div class="d-flex justify-content-between">
                                            <a href="https://github.com/PHatma/Yummy-Exam.git"><i class="fa-brands fa-github g fs-3"></i></a>
                                            <a href="https://phatma.github.io/Yummy-Exam/"><i class="fa-solid fa-link g fs-3"></i></a>
                                    </div>
                                  </div>

                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="card" style="width: 16rem;">
                                  <img src="./assets/ftg-img.jpg" class="card-img-top p- navs-image 2" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title text-center">Game</h5>
                                    <p class="card-text text-muted p-2">A gaming website is a platform dedicated to providing information, resources, and a community for gamers. </p>
                                    <div class="d-flex justify-content-between">
                                            <a href="https://github.com/PHatma/Game.git"><i class="fa-brands fa-github g fs-3"></i></a>
                                            <a href="https://phatma.github.io/Game/"><i class="fa-solid fa-link g fs-3"></i></a>
                                    </div>
                                  </div>

                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="card" style="width: 16rem;">
                                  <img src="./assets/events-heavenly-header.jpg" class=" navs-image card-img-top p-2" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title text-center p-2">Egyptian Party</h5>
                                    <p class="card-text text-muted ">it is a website designed with JQuery used to rreservations of parties </p>
                                    <div class="d-flex justify-content-between p-3">
                                            <a href="https://github.com/PHatma/Ass-12-jquery.git"><i class="fa-brands fa-github g fs-3"></i></a>
                                            <a href="https://phatma.github.io/Ass-12-jquery/"><i class="fa-solid fa-link g fs-3"></i></a>
                                    </div>
                                  </div>

                              </div>
                          </div>
                           <div class="col-md-3">
                               <div class="card" style="width: 16rem;">
                                   <img src="./assets/Screenshot (123).png" class="card-i navs-image mg-top" alt="...">
                                   <div class="card-body">
                                     <h5 class="card-title text-center">CRUDS System</h5>
                                     <p class="card-text text-muted"> It's a fundamental pattern in software development that defines the basic operations performed on data within an application.</p>
                                     <div class="d-flex justify-content-between">
                                             <a href="https://github.com/PHatma/CRUDS-System.git"><i class="fa-brands fa-github g fs-3"></i></a>
                                             <a href="https://phatma.github.io/CRUDS-System/"><i class="fa-solid fa-link g fs-3"></i></a>
                                     </div>
                                   </div>

                           </div>

                           </div>

                           <div class="col-md-3">
                           <div class="card" style="width: 16rem;">
                               <img src="./assets/logoo.png" class="card-img-top p-2" navs-image  alt="...">
                               <div class="card-body">
                                 <h5 class="card-title text-center">Weather</h5>
                                 <p class="card-text text-muted"> It's a Website designed with HTML ,CSS ,Js (API) and bootstrap that detect the weather of some place.</p>
                                 <div class="d-flex justify-content-between">
                                         <a href="https://github.com/PHatma/Weather.git"><i class="fa-brands fa-github g fs-3"></i></a>
                                         <a href="https://phatma.github.io/Weather/"><i class="fa-solid fa-link g fs-3"></i></a>
                                 </div>
                               </div>

                           </div>
                           </div>
                           <div class="col-md-3">
                               <div class="card" style="width: 16rem;">
                                   <img src="./assets/freshcart-logo.svg" class="card-img navs-image -top p-2" alt="...">
                                   <div class="card-body">
                                     <h5 class="card-title text-center">Fresh Cart</h5>
                                     <p class="card-text text-muted">electronic commerce refers to the buying and selling of goods and services using the internet. It's a broad term that encompasses a wide range of activities, from online retail to online auctions and digital marketplaces.</p>
                                     <div class="d-flex justify-content-between">
                                             <a href="https://github.com/PHatma/E-commerce.git"><i class="fa-brands fa-github g fs-3"></i></a>
                                             <a href="https://superlative-lolly-81dd87.netlify.app/"><i class="fa-solid fa-link g fs-3"></i></a>
                                     </div>
                                   </div>

                               </div>
                           </div>


                   </div>
                      </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="pills-seo" role="tabpanel" aria-labelledby="pills-seo-tab" tabindex="0">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-3 ">
                              <div class="card" style="width: 16rem;">
                                  <img src="./assets/drew-coffman-1872.jpg" class="card- navs-image img-top" alt="bakery website">
                                  <div class="card-body p-4 " >
                                    <h5 class="card-title text-center">Bakery</h5>
                                    <p class="card-text text-muted">Bakery website designed with HTML ,CSS , Bootstrap and JS</p>
                                   <div class="d-flex justify-content-between">
                                      <a href="https://github.com/PHatma/Bakery.git"><i class="fa-brands fa-github g fs-3 m-2"></i></a>
                                      <a href="https://phatma.github.io/Bakery/"><i class="fa-solid fa-link g fs-3 m-2 "></i></a>
                                   </div>
                                  </div>
                                </div>

                          </div>
                          <div class="col-md-3">
                              <div class="card" style="width: 16rem;">
                                  <img src="./assets/hero.jpg" class="card-img-top" >
                                  <div class="card-body">
                                    <h5 class="card-title text-center">Daniels</h5>
                                    <p class="card-text text-muted"> It's aWebsite designed with HTML ,CSS and bootstrap.</p>
                                    <div class="d-flex justify-content-between">
                                            <a href="https://github.com/PHatma/Daniels.git"><i class="fa-brands fa-github g fs-3"></i></a>
                                            <a href="https://phatma.github.io/Daniels/"><i class="fa-solid fa-link g fs-3"></i></a>
                                    </div>
                                  </div>

                          </div>


                          </div>
                      </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="pills-web" role="tabpanel" aria-labelledby="pills-web-tab" tabindex="0">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-3 ">
                              <div class="card" style="width: 16rem;">
                                  <img src="./assets/drew-coffman-1872.jpg" class="card- navs-image img-top" alt="bakery website">
                                  <div class="card-body " >
                                    <h5 class="card-title text-center">Bakery</h5>
                                    <p class="card-text text-muted">Bakery website designed with HTML ,CSS , Bootstrap and JS</p>
                                   <div class="d-flex justify-content-between">
                                      <a href="https://github.com/PHatma/Bakery.git"><i class="fa-brands fa-github g fs-3 m-2"></i></a>
                                      <a href="https://phatma.github.io/Bakery/"><i class="fa-solid fa-link g fs-3 m-2 "></i></a>
                                   </div>
                                  </div>
                                </div>

                          </div>
                          <div class="col-md-3">
                              <div class="card" style="width: 16rem;">
                                  <img src="./assets/Screenshot (123).png" class="card-i navs-image mg-top" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title text-center">CRUDS System</h5>
                                    <p class="card-text text-muted"> It's a fundamental pattern in software development that defines the basic operations performed on data within an application.</p>
                                    <div class="d-flex justify-content-between">
                                            <a href="https://github.com/PHatma/CRUDS-System.git"><i class="fa-brands fa-github g fs-3"></i></a>
                                            <a href="https://phatma.github.io/CRUDS-System/"><i class="fa-solid fa-link g fs-3"></i></a>
                                    </div>
                                  </div>

                          </div>

                          </div>
                          <div class="col-md-3">
                              <div class="card" style="width: 16rem;">
                                  <img src="./assets/events-heavenly-header.jpg" class=" navs-image card-img-top p-2" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title text-center p-2">Egyptian Party</h5>
                                    <p class="card-text text-muted p-3">it is a website designed with JQuery used to rreservations of parties </p>
                                    <div class="d-flex justify-content-between p-3">
                                            <a href="https://github.com/PHatma/Ass-12-jquery.git"><i class="fa-brands fa-github g fs-3"></i></a>
                                            <a href="https://phatma.github.io/Ass-12-jquery/"><i class="fa-solid fa-link g fs-3"></i></a>
                                    </div>
                                  </div>

                              </div>
                          </div>
                      </div>

                  </div>
              </div>
              <div class="tab-pane fade" id="pills-work" role="tabpanel" aria-labelledby="pills-work-tab" tabindex="0">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-3">
                              <div class="card" style="width: 16rem;">
                                  <img src="./assets/logoo.png" class="card-img-top p-2" navs-image  alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title text-center">Weather</h5>
                                    <p class="card-text text-muted"> It's a Website designed with HTML ,CSS ,Js (API) and bootstrap that detect the weather of some place.</p>
                                    <div class="d-flex justify-content-between">
                                            <a href="https://github.com/PHatma/Weather.git"><i class="fa-brands fa-github g fs-3"></i></a>
                                            <a href="https://phatma.github.io/Weather/"><i class="fa-solid fa-link g fs-3"></i></a>
                                    </div>
                                  </div>

                              </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="card" style="width: 16rem;">
                                      <img src="./assets/download.jpg" class="card-img-top p navs-image -2" alt="...">
                                      <div class="card-body">
                                        <h5 class="card-title text-center">Yummy</h5>
                                        <p class="card-text text-muted">describe food that is delicious, appetizing, or enjoyable to eat </p>
                                        <div class="d-flex justify-content-between">
                                                <a href="https://github.com/PHatma/Yummy-Exam.git"><i class="fa-brands fa-github g fs-3"></i></a>
                                                <a href="https://phatma.github.io/Yummy-Exam/"><i class="fa-solid fa-link g fs-3"></i></a>
                                        </div>
                                      </div>

                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="card" style="width: 16rem;">
                                      <img src="./assets/ftg-img.jpg" class="card-img-top p- navs-image 2" alt="...">
                                      <div class="card-body">
                                        <h5 class="card-title text-center">Game</h5>
                                        <p class="card-text text-muted p-2">A gaming website is a platform dedicated to providing information, resources, and a community for gamers. </p>
                                        <div class="d-flex justify-content-between">
                                                <a href="https://github.com/PHatma/Game.git"><i class="fa-brands fa-github g fs-3"></i></a>
                                                <a href="https://phatma.github.io/Game/"><i class="fa-solid fa-link g fs-3"></i></a>
                                        </div>
                                      </div>

                                  </div>
                              </div>
                      </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="pills-word" role="tabpanel" aria-labelledby="pills-word-tab" tabindex="0">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-3">
                              <div class="card" style="width: 16rem;">
                                  <img src="./assets/freshcart-logo.svg" class="card-img navs-image -top p-2" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title text-center">Fresh Cart</h5>
                                    <p class="card-text text-muted">electronic commerce refers to the buying and selling of goods and services using the internet. It's a broad term that encompasses a wide range of activities, from online retail to online auctions and digital marketplaces.</p>
                                    <div class="d-flex justify-content-between">
                                            <a href="https://github.com/PHatma/E-commerce.git"><i class="fa-brands fa-github g fs-3"></i></a>
                                            <a href="https://superlative-lolly-81dd87.netlify.app/"><i class="fa-solid fa-link g fs-3"></i></a>
                                    </div>
                                  </div>

                              </div>
                          </div>

                      </div>
                  </div>
              </div>

            </div>
            </div>
    </div>
  </div>


</section>
